body {
    font-family: "Roboto", sans-serif !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: #000;
}
.select2-results__option {
    color: #000;
}

.bootstrap-tagsinput {
    display: flex !important;
    flex-wrap: wrap;
    padding: 20px 10px !important;
}

.bootstrap-tagsinput .tag {
    margin-right: 10px !important;
    color: #fff;
    background-color: #15a0df;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.bootstrap-tagsinput input {
    border: 1px solid #15a0df !important;
    border-radius: 6px;
    min-width: 250px;
    margin-left: 10px !important;
}
.ss-main {
    padding: 10px 20px !important;
    border: 1px solid #15a0df1a !important;
}

.ss-main .ss-values .ss-value {
    background-color: #15a0df !important;
    padding: 5px 10px !important;
    margin-right: 10px !important;
}
.ss-main .ss-values .ss-placeholder {
    color: #000 !important;
    font-size: 14px;
}

.btn-primary {
    background-color: #15a0df !important;
    border-color: #15a0df !important;
}

.preloader_demo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffffc4;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader_demo .img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.preloader_demo .img img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 40px;
    line-height: 1.6;
}
ul.timeline > li:before {
    content: " ";
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #15a0df;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.box-pricing-item {
    position: relative;
}

.box-pricing-item .recommend {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #33d667;
    color: #fff;
    padding: 5px 20px;
    border-radius: 10px;
}

._success {
    box-shadow: 0 15px 25px #00000019;
    padding: 45px;
    width: 100%;
    text-align: center;
    margin: 40px auto;
    border-bottom: solid 4px #28a745;
}

._success i {
    font-size: 55px;
    color: #28a745;
}

._success h2 {
    margin-bottom: 12px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 10px;
}

._success p {
    margin-bottom: 0px;
    font-size: 18px;
    color: #495057;
    font-weight: 500;
}

div.dt-container select.dt-input {
    width: 18% !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    color: #4a4a4d;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

th,
td {
    padding: 10px 15px;
    vertical-align: middle;
}

thead {
    background: #15a0df;
    background: linear-gradient(#159fdf9b, #15a0df);
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
}

th:first-child {
    border-top-left-radius: 5px;
    text-align: left;
}

th:last-child {
    border-top-right-radius: 5px;
}

tbody tr:nth-child(even) {
    background: #f0f0f2;
}

td {
    border-bottom: 1px solid #cecfd5;
    border-right: 1px solid #cecfd5;
}

td:first-child {
    border-left: 1px solid #cecfd5;
}

.book-title {
    color: #395870;
    display: block;
}

.text-offset {
    color: #7c7c80;
    font-size: 12px;
}

.item-stock,
.item-qty {
    text-align: center;
}

.item-price {
    text-align: right;
}

.item-multiple {
    display: block;
}

tfoot {
    text-align: right;
}

tfoot tr:last-child {
    background: #f0f0f2;
    color: #395870;
    font-weight: bold;
}

tfoot tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
tfoot tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px; /* Giảm kích thước của switch */
    height: 22px; /* Giảm chiều cao của switch */
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 22px; /* Đảm bảo slider có góc bo tròn */
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px; /* Giảm chiều cao của slider */
    width: 18px; /* Giảm chiều rộng của slider */
    left: 2px; /* Giảm khoảng cách bên trái */
    bottom: 2px; /* Giảm khoảng cách bên dưới */
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%; /* Đảm bảo phần trượt có hình tròn */
}

input:checked + .slider {
    background-color: #15a0df;
}

input:focus + .slider {
    box-shadow: 0 0 1px #15a0df;
}

input:checked + .slider:before {
    -webkit-transform: translateX(
        18px
    ); /* Cập nhật khoảng cách khi chuyển trạng thái */
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 22px; /* Đảm bảo slider có góc bo tròn */
}

.slider.round:before {
    border-radius: 50%; /* Đảm bảo phần trượt có hình tròn */
}

.active > .page-link,
.page-link.active {
    background-color: #15a0df !important;
    border-color: #15a0df !important;
    color: #fff !important;
}
.page-link {
    color: #15a0df !important;
}

.box-input-money input {
    border: 1px solid #15a0df1a !important;
    border-radius: 0;
    height: 50px;
    box-shadow: none;
    padding-left: 0px;
    font-size: 12px;
    width: 100%;
}
.box-number-money {
    display: none !important;
}

.filter-list li {
    margin: 8px 0 8px 24px;
}

.filter-list {
    list-style: square;
}

.list-checkbox .checkmark {
    margin-top: 3px !important;
}

.irs--flat {
    margin-bottom: 20px;
    margin-top: -10px;
}
.irs--flat .irs-bar {
    background-color: #15a0df !important;
}
.irs--flat .irs-handle > i:first-child {
    background-color: #0e6f9c !important;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
    font-size: 11px !important;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
    font-size: 12px !important;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
    background-color: #15a0df !important;
    font-size: 12px;
}

.card-grid-2 {
    height: 392px !important;
    position: relative;
}
.btn-detail {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
}
