.logo-sidebar {
    margin-left: 40px;
    width: 140px;
}
.ls-closed .bars:before {
    margin-top: 5px;
}
.breadcrumb-item.active {
    color: #000;
    font-weight: 700;
}
.breadcrumb-item {
    font-size: 12px !important;
}
.block-header h2 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 5px !important;
}
.card .header h2 {
    font-weight: 700 !important;
    font-size: 18px !important;
}

input.form-control {
    padding: 0 10px !important;
}

select.form-control {
    border: 1px solid #ced4da !important;
    border-radius: 4px;
    padding: 0 10px;
    cursor: pointer;
}
.badge {
    padding: 8px 15px;
    font-size: 12px;
}
.checkbox label,
.radio label,
label {
    color: #000;
    font-weight: 600;
    margin-left: 5px;
}
.sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle) {
    font-weight: 600 !important;
}

/* Style the list */
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.175);
}

/* Pricing header */
.price .free {
    background-color: #111;
    color: white;
    font-size: 25px;
    height: 93px;
}

.price .has-price {
    background: linear-gradient(45deg, #67d1fe, #479ef5);
    color: white;
    font-size: 25px;
    height: 93px;
}

/* List items */
.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

/* Grey list item */
.price .grey {
    background-color: #eee;
    font-size: 20px;
}

/* The "Sign Up" button */
.button {
    background: linear-gradient(45deg, #67d1fe, #479ef5);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}
